vosk
piper-tts
argparse
asyncio
os
datetime
pynput
rich
rich.rule
rich.prompt
typer
logging
configparser
re
shlex
threading
imdb
wikipedia
wolframalpha
requests
urllib.request
bs4
email.message
smtplib
subprocess
rich
prompt_toolkit
random
psutil
subprocess
websockets
json
